<div class="container-fluid bg-verde text-dark">
  <div class="row d-flex justify-content-center">

    <div class="col-md-4">
      <h1 class="text-center p-4">Atualizar meu usuário</h1>

      <div class="form-group py-2">
        <label for="nome">Nome</label>
        <input [(ngModel)]='usuario.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Digite seu nome completo">
      </div>

      <div class="form-group py-2">
        <label for="usuario">Usuário</label>
        <input [(ngModel)]='usuario.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Crie seu usuário">
      </div>

      <div class="form-group py-2">
        <label for="usuario">Link da foto</label>
        <input [(ngModel)]='usuario.foto' class="form-control" type="text" name="link-foto" id="link-foto" placeholder="Insira uma URL">
      </div>

      <div class="form-group py-2">
        <label for="senha">Senha</label>
        <!-- (input) é um evento (como onClick)  e é chamado com ($event)-->
        <input (input)='confirmarSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Crie sua senha">
      </div>

      <div class="form-group py-2">
        <label for="confirme-senha">Confirme sua senha</label>
        <input [(ngModel)]='usuario.senha' class="form-control" type="password" name="confirme-senha" id="confirme-senha" placeholder="Confirme sua senha">
      </div>

      <div class="form-group py-2">
        <label for="tipo-usuario">Tipo de usuário</label>
        <select (change)='tipoUsuario($event)' class="form-control" name="tipo-usuario" id="tipo-usuario">
          <option>Selecione um tipo de usuário:</option>
          <option value="normal">Normal</option>
          <option value="admin">Administrador</option>
        </select>
      </div>

      <div class="d-flex justify-content-center p-4">
        <button type="submit" class="btn btn-danger w-25 me-2" routerLink='/inicio'>Cancelar</button>
        <button (click)='atualizar()' type="submit" class="btn btn-verde w-25 ms-2 text-white">Atualizar</button>
      </div>

    </div>

  </div>
</div>
