@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.fs-54 {
  font-size: 54pt;
}

.fs-18 {
  font-size: 18pt;
}
